# Gradle 관련 파일
.gradle
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# 출력 디렉토리
out/
**/out/
!**/src/main/**/out/
!**/src/test/**/out/

# IDE - STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IDE - IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# IDE - NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# IDE - VS Code
.vscode/

# 기타 파일
HELP.md
gradle-app.setting

# config files
**/application.yml
**/backend_config/